# Docs for the Azure Web Apps Deploy action:
# https://github.com/Azure/webapps-deploy

name: Build and deploy frontend to Azure Web App - edu-website

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'

      - name: Install, build, and test frontend
        working-directory: frontend
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: frontend

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_781B9DB6135C4223BA78D49950B7E65E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_79A6B7A76D9F4D878F627C49B544C78D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F3F1EBCF052A4749A5D7720ED13A0766 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'edu-website'
          slot-name: 'Production'
          package: .
